
.bg-prim {
    background-color: #81c784

}

.bg-prim-dark {
    background-color: #519657
}

.bg-second {
    background-color: #f8bbd0
}

.bg-second-light {
    background-color: #ffc1e3
}

nav {
    background-color: #81c784
}

footer {
    background-color: #519657
}

.card-header {
    background-color: #e9ecef
}

.card-body {
    background-color: #ffeeff
}

.card-body .list-group .list-group-item{
    background-color: #ffeeff;
}

a {
    color: #f06292
}

a:hover {
    color: #ba2d65
}

.carousel-caption {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.img-fluid {
    border-radius: 8px;
}

.badge-info {
    background-color: #81c784;
}

.top-buffer { margin-top:20px; }

.show>.btn-secondary.dropdown-toggle {
    background-color: #f06292;
    border-color: #f06292;
}

.btn-secondary {
    background-color: #81c784;
    border-color: #81c784;
}

.btn-secondary:hover {
    background-color: #f06292;
    border-color: #f06292;
}

label.btn.btn-secondary.focus.active{
    background-color: #f06292;
    border-color: #f06292;
}

.btn-secondary:not(:disabled):not(.disabled).active{
    background-color: #f06292;
    border-color: #f06292;
}

.col-bottom-pad-20 {
    padding-bottom: 20px;
}